$bg: #e3e6ec;
$bgLight: #f2f4f8;
$white: #fafafa;
$icons: #5e5e5e;
$title: #0f3959;
$dark: #3c4145;
$main: #ff8000;
$coral: #ff7f50;
$blue: #1e21ec;
$royalBlue: #4169e1;
$gray: #777;
$red: #ff4949;
